VITE_SUPABASE_URL=https://pudvasoapqnjjtkhuhpf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1ZHZhc29hcHFuamp0a2h1aHBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEwMjU5ODUsImV4cCI6MjA2NjYwMTk4NX0.oAA1k4CsgV9z3muOl6TDSNTADzH_nKo7O4oCmiPMkR8